/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
	position: relative;
}


img {
    position: absolute;
    top: 5%;
    left: 3%;
    margin-left: -50px;
		max-width: 200px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
